/* 
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 *
 * Resets everything for less trouble with compatibility, remove if you don't want to reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, textarea, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	position: relative;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
}

/*
 * Oceanfront convenience classes when programmatically building with objects.
 * Developers should use these 
 *	
 */

.clickable { cursor: pointer; }
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }
.link {
	text-decoration: underline;
}
.absolute {position: absolute;}

.left   { float:left !important; }
.right  { float:right !important; }
.clear-left { clear: left;}
.clear-right { clear: right;}
.clear-both { clear: both;}

.inline {display: inline-block;}

.hide   { display: none; }
.show, .block   { display: block; }

.align-justify  { text-align:justify; } 
.align-left     { text-align:left !important; } 
.align-center   { text-align:center !important; } 
.align-right    { text-align:right !important; } 

.valign-baseline      { vertical-align: baseline   ; }
.valign-sub           { vertical-align: sub        ; }
.valign-super         { vertical-align: super      ; }
.valign-top           { vertical-align: top        ; }
.valign-text-top      { vertical-align: text-top   ; }
.valign-middle        { vertical-align: middle     ; }
.valign-bottom        { vertical-align: bottom     ; }
.valign-text-bottom   { vertical-align: text-bottom; }

.small      { font-size: 0.6em; }
.large      { font-size: 1.3em; }
.strong     { font-weight: bold; }

.padding5	{padding: 5px;}
.padding10	{padding: 10px;}
.margin5	{margin: 5px;}

.d5			{margin-top: 5px;}
.d10		{margin-top: 10px;}
.d20		{margin-top: 20px;}
.d50		{margin-top: 50px;}

.u5			{margin-bottom: 5px;}
.u10		{margin-bottom: 10px;}
.u20		{margin-bottom: 20px;}
.u50		{margin-bottom: 50px;}

.r20		{margin-left: 20px;}

.l5			{margin-right: 5px;}
.l10		{margin-right: 10px;}
.l20		{margin-right: 20px;}

.delimiter {
	border-top: 1px solid #ccc;
}

.automargin {
	margin-left: auto;
	margin-right: auto;
}

.max-width {
	width: 100%;
}

.max-height {
	height: 100%;
}

.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
}

.error-text {
	color: red;
}

.success-text {
	color: green;
}

.relief-shadow {
	text-shadow: 0px 1px #fff;
}

.textButton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.of-Grid {
	margin: auto;
}

.message-bubble {
	width: 160px;
	background: -webkit-linear-gradient(#C8C8C8 2%, #B2B2B2 4%, #A2A2A2 96%, #6B6B6B 100%);
	background: -moz-linear-gradient(#C8C8C8 2%, #B2B2B2 4%, #A2A2A2 96%, #6B6B6B 100%);
	background: linear-gradient(#C8C8C8 2%, #B2B2B2 4%, #A2A2A2 96%, #6B6B6B 100%);
	color: #000;
	padding: 10px;
	margin: 5px 0px 0px 0px;
	position: absolute;
	border: 1px solid #333;
	border-radius: 8px;
	box-shadow: 5px 5px 15px #666666;

	z-index: 10000;

	animation-name: animate-bubble;
	animation-duration: 0.33s;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: animate-bubble;
	-webkit-animation-duration: 0.33s;
	-webkit-animation-timing-function: ease-in-out;

	-moz-animation-name: animate-bubble;
	-moz-animation-duration: 0.33s;
	-moz-animation-timing-function: ease-in-out;
}

.message-bubble-arrow {
	position: absolute;
	top: -13px;
	left: 10px;
	width: 0px;
	height: 0px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;


	border-bottom: 12px solid #444;
}

.message-bubble-text {
	line-height: 15px;
}

.widget-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 100;
}

.widget-loader-spinner {
	position: absolute;
	top: 0;
	left: 0;
	/*
	position: relative;
	margin: 130% auto auto auto;
	*/
	width: 42px;
	height: 42px;
	border: none;

	animation-name: spinner;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;

	-webkit-animation-name: spinner;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;

	-moz-animation-name: spinner;
	-moz-animation-duration: 1.0s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: paused;
}

/* Animations */

@keyframes spinner {
	0% { transform: rotateZ(0deg);}
	100% { transform: rotateZ(359deg);}
}

@keyframes cube-rotate {
	0% { transform: rotateY(0deg) rotateX(0deg);}
	100% { transform: rotateY(360deg) rotateX(360deg);}
}

@keyframes animate-bubble {
	0% { transform: translateX(150px); opacity: 0.4;}
	80% { transform: translateX(-33px); opacity: 1.0;}
	100% { transform: translateX(0px); opacity: 1.0;}
}

@-webkit-keyframes spinner {
	0% { -webkit-transform: rotateZ(0deg);}
	100% { -webkit-transform: rotateZ(359deg);}
}

@-webkit-keyframes cube-rotate {
	0% { -webkit-transform: rotateY(0deg) rotateX(0deg);}
	100% { -webkit-transform: rotateY(360deg) rotateX(360deg);}
}

@-webkit-keyframes animate-bubble {
	0% { -webkit-transform: translateX(150px); opacity: 0.4;}
	80% { -webkit-transform: translateX(-33px); opacity: 1.0;}
	100% { -webkit-transform: translateX(0px); opacity: 1.0;}
}

@-moz-keyframes spinner {
	0% { -moz-transform: rotateZ(0deg);}
	100% { -moz-transform: rotateZ(359deg);}
}

@-moz-keyframes cube-rotate {
	0% { -moz-transform: rotateY(0deg) rotateX(0deg);}
	100% { -moz-transform: rotateY(360deg) rotateX(360deg);}
}

@-moz-keyframes animate-bubble {
	0% { -moz-transform: translateX(150px); opacity: 0.4;}
	80% { -moz-transform: translateX(-33px); opacity: 1.0;}
	100% { -moz-transform: translateX(0px); opacity: 1.0;}
}